@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    --clr-primary-bgr: hsl(249, 99%, 64%);
    --clr-secondary-bgr: hsl(278, 94%, 30%);
    --clr-input-errors:  hsl(0, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-violet: hsl(270, 3%, 87%);
    --clr-dark-violet: hsl(279, 6%, 55%);
    --clr-vdark-violet: hsl(278, 68%, 11%);
    --blue: 249, 99%, 64%;
    --violet: 278, 94%, 30%;
    --violet-dark: 278, 68%, 11%;

    /* fonts */
    --ff-primary: 'Space Grotesk', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fs-18m: 4.8vw;
    --fs-22m: 5.867vw;
    --fs-18d: 1.125rem; 

}

html {height: 100%;}

body {
    font-family: var(--ff-primary);
    min-height: 100%;
    background-color: var(--clr-vdark-violet);    
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 1.5;
}

/*---------------------Mobile layout-------------------------*/
/*
* {border: 1px solid green;}*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'imgo'
        'cont'
        'attribution';
    gap: 0;
    min-width: 12.5rem;
    height: auto;
    /*margin: 0.9375rem;*/
    position: relative;
}

.imgo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'card_gray'
        'card_blue';
    background-color: var(--clr-vdark-violet);
    background-image: url('images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 650px;
    min-height: 150px;
}

.card_gray, .card_blue {
    display: none;
}

.cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'form';
    background-color: var(--clr-white);
    min-height: 440px;
    min-width: 200px;
    position: relative;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'l-1'
        'i-1'
        'l-2'
        'i-2'
        'fd'
        'su';
    padding: 15px;
    position: absolute;
    top: 10px;
}

.fd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'l-3 l-3 l-5'
        'i-3 i-4 i-5';
    /*grid-column: span 1;*/
    gap: 0px;
    margin-top: 20px;
    border: none;
}

.l-3, .l-5, .i-3, .i-4, .i-5 {
    display: block;
}
/*
[class*='l-'] {
   font-size: var( --fs-18m);
   font-weight: var(--fw-700);
   color: var(--clr-vdark-violet);
   padding: 10px 0 10px 0;
}

[class*='i-'] {
   font-family: var(--ff-primary);
   font-size: var(--fs-18m);
   font-weight: var(--fw-500);
   border-radius: 12px;
   border-color: var(--clr-light-violet);
   color: var(--clr-light-violet);
}

.i-1, .i-2 {
    max-width: 260px;
    padding: 10px;
}

.i-3, .i-4 {
    width: 40%;
    padding: 10px;
}

.fi-3 {

    padding: 10px;
}

.su {
    font-family: var(--ff-primary);
    font-size: var(--fs-18m);
    font-weight: var(--fw-500);
    background-color: var(--clr-vdark-violet);
    color: var(--clr-light-violet);
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;
}
*/
/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'imgo cont'
        'attribution attribution';
}

}
/*------------------grid area names---------------------------*/

.imgo {
    grid-area: imgo;
}

.card_gray {
    grid-area: card_gray;
}

.card_blue {
    grid-area: card_blue;
}

.cont {
    grid-area: cont;
}

.form {
    grid-area: form;
}

.l-1 {
    grid-area: l-1;
}

.i-1 {
    grid-area: i-1;
}

.l-2 {
    grid-area: l-2;
}

.i-2 {
    grid-area: i-2;
}

.fd {
    grid-area: fd;
}

.l-3 {
    grid-area: l-3;
}

.i-3 {
    grid-area: i-3;
}

.l-4 {
    grid-area: l-4;
}

.i-4 {
    grid-area: i-4;
}

.l-5 {
    grid-area: l-5;
}

.i-5 {
    grid-area: i-5;
}

.su {
    grid-area: su;
}

.attribution {
    grid-area: attribution;
}